.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form__fields {
    display: flex;
    flex-direction: column;
}
.form__field {
    display: flex;
    justify-content: space-between;
}
.form__field-input {
    border-bottom: solid lightgreen 2px;
}
.form__field-input_val-failed {
    border-bottom: solid red 2px;
}
.form__val-stat-summ {
    text-align: center;
    color: green;
}
.form__val-stat-summ_failed {
    color: red;
}
.valid-form {
}
.valid-form__form {

}
.root__valid-form {
    margin: auto;
}
